body {
  margin: 0px;
  padding: 0px;
  
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  overflow: hidden;
  background-color: rgb(0, 50, 95);
}

nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.brand-logo {
  margin: 0px 10px;
}

.btn {
  background-color: rgb(1, 76, 141);
}

.btn:hover {
  background-color: rgb(1, 59, 110);
}

.payments {
  margin: 0px 10px;
}

.credits {
  margin: 0px 10px;
}

.logo {
  margin: 10px 0px;
  height: 50px;

}
